<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <footer class="">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <p class="copyright-text">Ekaly Copyright &copy; 2022 All Rights Reserved by
                            <a href="#">RATSIMANIRIMANANA Andrianaina Henintsoa</a>.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>