<div class="row bottom-div">
    <div class="col-md-3">
        <nav class="menu" tabindex="0">
            <div class="smartphone-menu-trigger"></div>
            <header class="avatar">
                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
                <h2>Admin</h2>
            </header>
            <ul>
                <!-- <li tabindex="0" class="icon-dashboard"><span>Dashboard</span></li>
                <li tabindex="0" class="icon-customers"><span>Customers</span></li>
                <li tabindex="0" class="icon-users"><span>Users</span></li>
                <li tabindex="0" class="icon-settings"><span>Settings</span></li> -->
                <li tabindex="0" class="icon-settings">
                    <h5><a href="admin/config/livreur"><span>Config livreur</span></a></h5>
                </li>
                <li tabindex="0" class="icon-settings">
                    <h5><a href="admin/config/restaurant"><span>Config</span>
                            restaurant</a></h5>
                </li>
                <li tabindex="0" class="icon-settings">
                    <h5><a href="admin/benefits"><span>Benefice</span></a></h5>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <app-user-insert [mysection]="section"></app-user-insert>
            </div>
            <div class="col-md-8">
                <app-user-table [list]="list"></app-user-table>
            </div>
        </div>
    </div>
</div>