<div class="card-body wrapper">
  <div class="container">
    <div class="top"></div>
    <div class="bottom">
      <div class="left">
        <div class="details">
          <h1>{{plat.name}}</h1>
          <p>prix</p>
        </div>
        <div class="buy"><button (click)="addToCart()"> Ajouter </button></div>
      </div>
    </div>
    <div class="inside">
      <div class="icon"><i class="material-icons">info</i></div>
      <div class="contents">
        <table>
          <tr>
            <th>Plat tres bon</th>
            <th>Description</th>
          </tr>
        </table>
      </div>
    </div>
  </div>