<div class="container mt-5 px-2">
    <div class="table-responsive">
        <table class="table table-responsive table-bordered-stripped">
            <thead>
                <tr class="bg-light">
                    <th scope="col" width="5%">Plat</th>
                    <th scope="col" width="20%">Prix</th>
                    <th scope="col" width="20%">Prix sur le site</th>
                    <th scope="col" class="text-end" width="20%"><span>Cout de préparation</span></th>
                    <th scope="col" width="10%">Etat</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listplat" >
                    <td>{{item.name}}</td>
                    <td>{{item.prixrestaurant}}</td>
                    <td>{{item.prix}}</td>
                    <td class="text-end"><span class="fw-bolder">{{item.cout}}</span> <i class="fa fa-ellipsis-h ms-2"></i></td>
                    <td>
                        <div *ngIf="item.isvisible===1">
                            Oui
                            <form #f='ngForm' (ngSubmit)='updatePlat(f,item._id,0)'>
                                <button type="submit">Change</button>
                            </form>
                        </div> 
                        <div *ngIf="item.isvisible===0">
                            Non
                            <form #f='ngForm' (ngSubmit)='updatePlat(f,item._id,1)'>
                                <button type="submit">Change</button>
                            </form>
                        </div>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>