
<app-navbar class="fixed-top" style="width:100%"></app-navbar>
<app-menu class="col-md-2" style="position:fixed;left: 0;" ></app-menu>
<div class="row bottom-div">
    <div class="col-md-2">
        
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3"><app-plat></app-plat></div>
            <div class="col-md-3"><app-plat></app-plat></div>
            <div class="col-md-3"><app-plat></app-plat></div>
            <div class="col-md-3"><app-plat></app-plat></div>
            <div class="col-md-3"><app-plat></app-plat></div>
            <div class="col-md-3"><app-plat></app-plat></div>
            <div class="col-md-3"><app-plat></app-plat></div>
            <div class="col-md-3"><app-plat></app-plat></div>
            <div class="col-md-3"><app-plat></app-plat></div>
            <div class="col-md-3"><app-plat></app-plat></div>
        </div> 
        <div class="row"><app-pagination style="width: 100%;"></app-pagination></div>
    </div>
</div>
